body {
    font-family: "Verdana";
}

.main-header {
    display: inline-flex;
}

.main-header p {
    ;
}

@media only screen and (min-width: 768px) {   


/* Main Header */

.main-header {
    display: inline-flex;
    float: left;
    font-size: 32px;
}

.main-header img {
    display: inline-flex;
    min-height: 60px;
    margin-left: 24px;
}

.main-header #a {
    color: #4c4c4c;
    font-weight: 600;
    text-transform: uppercase;
    max-height: 32px;
    margin: auto;
    padding-bottom: 15px;
}

.main-header #b {
    color: lightgray;
    font-weight: lighter;
    text-transform: uppercase;
    max-height: 32px;
    margin: auto;
    padding-bottom: 15px;;
}

/* Main Nav */

.main-nav {
    display: inline-flex;
    float: right;
    padding-right: 24px;
}

.main-nav li {
    list-style-type: none;
    display: inline-flex;
    flex-direction: row;
}

.main-nav a {
    text-decoration: none;
    color: #4c4c4c;
    margin: 0 16px 0 16px;
}

/* Banner Section */

.banner {
    display: inline-block;
    flex-direction: ;
    height: 100%;
    width: 100%;
    background-color: lightgrey;
}

.banner img {
    margin: 32px 24px 32px 24px;
    width: 60%;
    float: left;
}

.banner-text {
    color: #4c4c4c;
    width: 320px;
    height: 300px;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 150px 120px;
    padding-left: 30px;   
}

.banner-text h4 {
    font-weight: 600;
}

.banner a {
    
    color: white;
    background-color: #4c4c4c;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    height: 32px;
    width: 320px;
    margin: auto;
    padding-top: 8px;
}

/* Information Section */

.information {
    display: inline-flex;
}

.information-main {
    margin: 32px 24px 32px 24px;
    color: #4c4c4c;
    width: 60%;
}

.information-main h6 {
    margin-top: 50px;
}

.info-main-img {
    width: 100%;
}

.information-side {
    display: inline-flex;
    flex-direction: column;
    width: 40%;
    height: auto;
    border-left: solid lightgray 1px;
}

.info-side-img {
    height: auto;
    width: 35%;
    margin: 16px;
    float: left;
}

.side-info-text {
    width: 65%;
    padding-top: 32px;
    padding-bottom: 0px;
}

.side-info-text a {
    text-decoration: none;
    color: lightskyblue;
}



.side-info1,
.side-info2,
.side-info3 {
    float: right;
    margin-top: 0.5px;
    margin-bottom: 0.5px;
}

.side-info1 {
    border-bottom: solid lightgray 1px;
}

.side-info2 {
    border-top: solid lightgray 1px;
    border-bottom: none;
}

.side-info3 {
    background-color: lightgray;
}

.side-info3 a:visited {
    text-decoration: none;
    color: lightskyblue;
}

/* Start Learning Section */

#h1-learning {
    display: block;
    text-align: center;
    width: 100%;
    padding: 32px;
    background-color: lightgray;
    color: #4c4c4c;
}

.start-learning {
    background-color: lightgray;
    color: #4c4c4c;
    flex-wrap: wrap;
    display: flex;
    margin: 32px 0 32px 0;
    padding-right: 75px;
    padding-left: 74px;
}

.course-type {
    background-color: #fff;
    text-align: left;
    margin: 32px;
    width: 25%;
}

.course-type img {
    width: 100%;
}

.course-type h4,
.course-type p {
    padding: 8px;
    margin:16px;
}

/* Thesis Exhibit Section */
.thesis {
    display: inline-block
}

#thesis-title {
    color: #4c4c4c;
    text-align: center;
    margin: auto;
    padding: 32px;
    display: block;
}

.thesis-main {
    display: inline-block;
    color: #4c4c4c;
    flex-direction: column;
    margin: 24px;
    width: auto;
}

.thesis-main video,
.thesis-main p {
    width: 60%;
    color: gray;
}

.thesis-side {
    display: inline-flex;
    width: 40%;
    flex-direction: column;
    float: right;
    margin-left: 24px;
}

.thesis-side img {
    width: 35%;
    height: auto;
    float: left;
    margin: 16px;
}

.thesis-side-txt {
    width: 65%;
    padding-top: 60px;
    
}


/* Footer Section */

.footer {
    width: 100%;
    display: inline-block;
    font-size: 12px;

    border-top: solid lightgray 1px;
}

.footer p {
    color: gray;
}

#copy {
    float: left;
    padding: 16px 0 0 24px;

}

#links {
    float: right;
    padding: 16px 24px 0 0;
}

.footer a {
    text-decoration: none;
    color: gray;
}

}